<div 
  :class="[
    {
      'textfield--wrapper': true,
      'textfield--no-margin': !!noMargin
    }
  ]"
>
  <Typography v-if="label" :text="label" className="textfield--label" />
  <input
    :placeholder="placeholder"
    :read-only="!editable"
    :value="value"
    :class="[
      {
        'textfield--input': true,
        'hasError': !!error
      }
    ]"
    :type="type"
    v-on:change="onChange"
    v-model="input"
  />
  <Typography v-if="error" :text="error" className="textfield--error-text" />
</div>