@import '@/sass/vars/vars.scss';

.navbar {
  padding: 20px 0;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &--logo {
    font-size: map-get($font-sizes, 'sm');
    font-weight: map-get($font-weights, 'semi-bold');
  }

  &--caption {
    font-size: map-get($font-sizes, 'xxs');
    text-transform: uppercase;
    letter-spacing: 1.25px;
    opacity: 0.65;
  }
}
