// FONT FAMILIES
$inter: 'Inter';
$sans-serif: sans-serif;

// FONT SIZES
$font-sizes: (
  xxs: 0.7rem,
  xs: 0.8rem,
  mxs: 0.9rem,
  sm: 1.2rem,
  md: 1.4rem,
  lg: 1.6rem,
  xl: 1.8rem,
);

// FONT WEIGHTS
$font-weights: (
  thin: 300,
  light: 400,
  regular: 500,
  semi-bold: 600,
  bold: 700,
);
